.container {
  display: flex;
  padding: 20px;
  overflow-y: auto;
  margin-top: 100px;
  height: 100vh;
}

main {
  flex: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 250px;
  margin-right: 300px; 
  height: 90%;
}

.dashboard-wrapper {
  display: flex;
  flex: 1;
  gap: 20px;
  height: 100%;
}

.main-cards {
  display: flex;
  flex: 3;
  gap: 25px;
  height: 150px;
}

.card {
  background-color: rgb(26, 26, 26);
  border-radius: 8px;
  padding: 20px;
  color: rgb(1, 134, 225);
  border: 1px solid rgb(1, 134, 225);
}

.pendencias .card {
  height: 300px;
  width: calc(100% - 37px);
  margin-bottom: 10px;
}
