nav.menu_lateral {
    width: 300px;
    height: 100%;
    background-color: rgb(30, 30, 30);
    box-shadow: 3px 0 0 rgb(1, 134, 225);
    position: fixed;
    top: 100px;
    left: 0;
}

ul {
    height: 100%;
    list-style-type: none;
    padding-inline-start: 15px;
}

ul li.item_menu {
    transition: 0.2s;
    margin: 0;
    padding: 0;
}

ul li.item_menu:hover {
    background: rgb(1, 134, 225);
}

ul li.item_menu a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    line-height: 40px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

ul li.item_menu a .txt_link {
    margin-left: 10px;
}

ul li.item_menu a .icon i {
    font-size: 30px;
}

/* Submenu */
.has-submenu > a {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seta-submenu {
    margin-left: auto;
    font-size: 0.8em;
}

.submenu {
    display: none;
    list-style: none;
    background-color: rgb(30, 30, 30);
    transition: all 0.3s ease;
}

.submenu.ativo {
    display: block;
}

.submenu li a {
    display: flex;
    align-items: center;
    padding: 8px 8px;
    color: rgb(21, 21, 28);
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.2s;
}

.submenu li a:hover {
    background-color: rgb(1, 134, 225);
    color: white;
}

.submenu .icon {
    margin-right: 8px;
}

.submenu .txt_link {
    font-size: 18px; 
    display: inline-block;
}